@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@import "tailwindcss";

@utility container {
  @apply mx-auto px-8;
}

@theme {
  --font-*: initial;
  --font-sans: "Source Sans 3", sans-serif;
  --font-serif: "Source Serif 4", serif;
}

blockquote {
  position: relative;
}

q::before,
q::after {
  @apply content-[''];
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

h1,
h2,
h3,
h4,
p {
  overflow-wrap: break-word;
}

.container {
  max-width: 1200px !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  position: relative;
}

@media screen and (min-width: 720px) {
  q::before {
    content: open-quote;
    font-size: 300px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    left: -180px;
    top: -160px;
    position: absolute;
    color: rgb(209, 213, 219);
  }
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

video {
  object-fit: cover;
  aspect-ratio: 16/7;
}

.hero {
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%),
    url("/hero.jpeg");
}

a:focus-visible,
button:focus-visible {
  outline: 4px solid #fdba74;
  outline-offset: 3px;
  border-radius: 4px;
}

input:focus-visible,
a:focus-visible,
button:focus-visible {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
